<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig
  xmlns="http://ibatis.apache.org/dataMapper"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!--<properties resource="../../../properties.config"/>这个东西是变量用的，这里以最简单的实现说明，因此注释-->

  <settings>
    <setting useStatementNamespaces="false"/>
  </settings>

  <providers resource="providers.config"/>

  <!--数据库连接字符串-->
  <database>
    <provider name="sqlServer2008"/>
    <dataSource name="SQL" connectionString="server=.;uid=sa;pwd=root;database=jxc"/>
  </database>

  <sqlMaps>
    <sqlMap resource="Goods.xml" />
    <!--这个是指定映射文件的位置-->
  </sqlMaps>

</sqlMapConfig>